<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>

<body>
    <div id="app">

        <!-- v-if: 지정한 뷰 데이터 값의 참, 거짓 여부에 따라 HTML 태그를 화면에 표시하거나 표시하지 않음 -->
        <a v-if="flag">Vue.js</a>

        <!-- v-for: 지정한 뷰 데이터의 개수만큼 해당 HTML 태그를 반복 출력 -->
        <!-- v-for = 'a in b' b의 갯수만큼 반복되며 b의값이 a로 할당되어 반복됨 -->
        <ul>
            <li v-for="system in systems">{{system}}</li>
        </ul>

        <!-- v-show: 데이터의 진위여부에 따라 표시하거나 표시하지 않음, 실제 태그는 남아있고 화면상으로만 노출하지 않음 -->
        <p v-show="flag">Vue.js</p>

        <!-- v-bind: 뷰 데이터 - HTML 기본속성 연결 -->
        <h3 v-bind:id="uid">Vue.js</h3>

        <!-- v-on: 화면 요소의 이벤트를 감지하여 처리 -->
        <button v-on:click="popupAlert">경고 창</button>
        <button v-on:click="clickBtn(10)">클릭</button>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                flag: true,
                systems: ['android', 'ios', 'window'],
                uid: 10
            },
            methods: {
                popupAlert: function () {
                    return alert('경고 창 표시');
                },
                clickBtn: function (num) {
                    alert('click : ' + num);
                }
            }
        })
    </script>
</body>

</html>